@import "mixin.less";
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
  height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
body {
  font: Arial, sans-serif;
  font-size: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  min-width: 1024px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


.left {
  float: left;
}

.right {
  float: right;
}

.left:before,
.left:after,
.right:before,
.right:after {
  display: table;
  content: ' ';
  clear: both;
  overflow: hidden;
  height: 0;  
}

/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 100px;
  background-color: #202a32;
  background-image: -webkit-linear-gradient(bottom, #202a32, #232d35);
  background-image: -moz-linear-gradient(bottom, #202a32, #232d35);
  background-image: -o-linear-gradient(bottom, #202a32, #232d35);
  background-image: linear-gradient(to top, #202a32, #232d35);
  
  .logo {
    width: 132px;
    height: 100px;
  }
  
  .logo-title {
    height: 30px;
    border-left: 2px solid #fff;
    padding: 0 10px;
    margin: 40px 25px;
    
    span {
      color: #fff;
      display: block;
      font-size: 0.875em;
    }
  }
  
  nav {
    .right;
    width: 60%;
    
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      
      li {
       display: table-cell;
       text-align: center;
       width: 16.666%;
       vertical-align: middle;
       
       a:hover {
         background-color: #2a3741;
       }
       
       a {
         display: block;
         padding: 0 10px;
         height: 100px;
         line-height: 100px;
         text-decoration: none;
         font-size: 1em;
         color: #fff;
         white-space: nowrap;
         .transition;
       }
      }
      
      li.current a {
         background-color: #fd5033;
      }
      
      
    }
  }
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 100px;
  clear: both;
  overflow: hidden;
  margin: 0;
  //top: -10px;
  position: relative;
  
  .home-page {
    .top-bar {
      background-color: #fff;
      color: #436684;
      overflow: hidden;
      
      //social buttons panel
      .social-buttons {
        padding: 20px 0;
        .left;
        
        li {
          .left;
          margin: 0 30px 0 0;
          
          a {
            text-decoration: none;
            color: #436684;
            .transition;
            
            span {
              margin: 0 0 0 15px;
              font-size: 0.875em;
              .transition;
            }
            
            img {
              width: 20px;
              height: 20px;
              .left;
            }
          }
          
          a:hover span {
            text-decoration: underline;
          }
        }
      }
      
      //call panel
      .call-panel {
        .right;
        
        .call-title {
          img {
            width: 24px;
            height: 24px;
            .left;
            margin: 18px 15px 18px 0;
          }
          
          span {
            font-size: 1em;
            padding: 20px 0;
            .left;
          }
        }
        
        .call-number {
          span {
            padding: 20px 0;
            margin: 0 10px 0 10px;
            .left;
          }
        }
        
        .call-order {
          padding: 10px 0;
          margin-left: 10px;
          
          button {
            background-color: #fd5033;
            color: #fff;
            border: 0;
            outline: none;
            height: 40px;
            padding: 0 10px;
            .transition;
          }
          
          button:hover {
            background-color: #ff5a3e;
          }
          
          button:active {
            background-color: #ec462a;
          }
        }
        
        li {
          .left;   
        }
      }
    }
    
    .hero-place {
      width: 100%;
      height: 750px;
      background: red;
      background: url(images/hero-place-background2.jpg) 100% 100% no-repeat; /* Добавляем фон */
      background-size: cover; /* Масштабируем фон */
      background-position: center left;
      
      .hero-place-wrapper {
        width: 100%;
        height: 750px;
        position: relative;
        
        .hp-slogan {
          position: absolute;
          margin-top: 15%;
          margin-left: 40px;
          
          h3 { 
            display: block;
            
            span{
              background-color: #fd5033;
              color: #fff;
              font-size: 1.875em;
              padding: 0 10px;
              height: 40px;
              line-height: 36px;
            }
          }
          h4 span {
            background-color: #202a32;
            color: #fff;
            font-size: 1.188em;
            line-height: 1.188em;
            padding: 5px 10px;
            height: 40px;
            line-height: 30px;
          }
        }
        
        .online-register {
          width: 240px;
          position: absolute;
          margin-top: 40%;
          margin-left: 40px;
          
          label {
            color: #fff;
            font-size: 1.063em;
            display: block;
            margin-bottom: 20px;
          }
          
          button {
            height: 60px;
            background-color: #21ae6d;
            font-size: 1.188em;
            padding: 0 10px;
            color: #fff;
            border: 0;
            .transition;
            outline: none;
          }
          
          button:hover {
            background-color: #28bb77;
          }
          
          button:active {
            background-color: #18985d;
          }
        }
        
        .about-link {
          a {
            background-color: #fd5133;
            background-image: url(images/button-arrow.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            color: #fff;
            height: 60px;
            width: 220px;
            position: absolute;
            bottom: 0;
            margin-left: 50%;
            left: -110px;
            text-align: center;
            line-height: 60px;
            text-decoration: none;
            font-size: 1.375em;
          }
          
          a:hover {
            background-color: #ff5a3e;
          }
          
          a:active {
            background-color: #ec462a;
          }
        }
      }
    }
    }
    
    //About page
    .about-page {
      .our-team {
        .page-header {
          background-color: #222d35;
          color: #fff;
          height: 70px;
          
          .number {
            .left;
            line-height: 70px;
            padding: 0 20px;
            background-color: #28333b;
            font-size: 2.500em;
          }
          
          .title {
            .left;
            line-height: 70px;
            font-size: 1.375em;
            background-color: #1d252c;
            padding: 0 20px;
          }
          
          .anotation {
            .left;
            font-size: 0.938em;
            font-style: italic;
            padding: 0 20px;
            line-height: 70px;
          }
        }
        
        .our-team-content {
          position: relative;
          margin: 0;
          padding: 0;
          background: url(images/flagman-about-background.jpg) 100% 100% no-repeat; /* Добавляем фон */
          background-size: cover; /* Масштабируем фон */
          background-position: bottom left;    
          width: 100%;
          min-height: 570px;
          padding: 100px 0 0 0;
          
          .team-photo:before {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            height: 30%;
            background-color: rgba(255,255,255,0);
            background-image: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,0));
            background-image: -moz-linear-gradient(bottom, #000, rgba(0,0,0,0));
            background-image: -o-linear-gradient(bottom, #000, rgba(0,0,0,0));
            background-image: linear-gradient(to top, #000, rgba(0,0,0,0));
            content: ' ';
            display: block;
            z-index: 10;
            } 
            
          .team-photo {
            width: 85%;
            position: relative;
            margin-bottom: 20px;
            
            img {
              position: relative;
            }
            
            .team-photo-sign {
              position: absolute;
              bottom: 0;
              display: block;
              z-index: 20;
              padding: 0 40px 0px 15px;
              margin-bottom: 15px;
              border-left: 5px solid #fd5336;
              
              span {
                font-size: 0.938em;
                color: #fff;    
              }
            }
            
           .photo-zoom {
             width: 40px;
             height: 40px;
             display: block;
             right: 0;
             bottom: 15px;
             position: absolute;
             background-color: #fe5539;
             background-image: url(images/zoom.png);
             background-repeat: no-repeat;
             background-position: center center;
             z-index: 20;
             cursor: pointer;
             .transition;
           }
            .photo-zoom:hover {
              background-color: #ff5a3e;
            }
            
            .photo-zoom:active {
              background-color: #ec462a;
            }
          }
          
          .content-block {
            background-color: #fff;
            padding: 30px 70px 30px 30px;
            color: #425783;
            line-height: 30px;
            position: relative;

            
            .full-content {
              background-color: #fe5539;
              color: #fff;
              position: absolute;
              height: 40px;
              line-height: 40px;
              padding: 0 10px;
              bottom: 10px;
              right: 0;
              cursor: pointer;
            }
            
            .full-content:hover {
              background-color: #ff5a3e;
            }
            
            .full-content:active {
              background-color: #ec462a;
            }
          }
        }
      }
        .our-services {
        .page-header {
          background-color: #222d35;
          color: #fff;
          height: 70px;
          
          .number {
            .left;
            line-height: 70px;
            padding: 0 20px;
            background-color: #28333b;
            font-size: 2.500em;
          }
          
          .title {
            .left;
            line-height: 70px;
            font-size: 1.375em;
            background-color: #1d252c;
            padding: 0 20px;
          }
          
          .anotation {
            .left;
            font-size: 0.938em;
            font-style: italic;
            padding: 0 20px;
            line-height: 70px;
          }
        }
        
        .our-services-content {
          position: relative;
          margin: 0;
          padding: 0;
          background: #fff;
          width: 100%;
          min-height: 470px;
          padding: 100px 0 0 0;
         
        .all-services-block {
          text-align: center;   
        }
         
        .all-services {
          background-color: #fe5539;
          color: #fff;
          position: relative;
          height: 40px;
          line-height: 40px;
          padding: 10px;
          cursor: pointer;
          text-decoration: none;
          top: 50px;
        }
        
        .full-content:hover {
          background-color: #ff5a3e;
        }
        
        .full-content:active {
          background-color: #ec462a;
        }
          .service-item:hover {
            cursor: pointer;
          }
          .service-item {
            margin-bottom: 50px;
            overflow: hidden;
            .transition;
            
            .service-icon {
              img {
                width: 70px;
                height: 70px;
                position: relative;
                margin: 0 auto;
              }
            }
            .service-description {
              h3 {
                color: #222d35;
                font-size: 1.125em;
                text-transform: uppercase;
                margin: 0 0 20px 0;
                position: relative;
              }
              p {
                color: #627685;
                font-size: 0.875em;
                line-height: 20px;
              }
            }
          }
        }
      }
  }


  .service-center {
    .page-header {
      background-color: #fff;
      color: #141415;
      height: 70px;
      
      .number {
        .left;
        line-height: 70px;
        padding: 0 20px;
        background-color: #d44026;
        color: #fff;
        font-size: 2.500em;
      }
      
      .title {
        .left;
        line-height: 70px;
        font-size: 1.375em;
        background-color: #fd5235;
        color: #fff;
        padding: 0 20px;
      }
      
      .anotation {
        .left;
        font-size: 0.938em;
        font-style: italic;
        padding: 0 20px;
        line-height: 70px;
      }
    }
    
    .service-center-content {
      position: relative;
      margin: 0;
      padding: 0;
      background: url(images/service-center-background.jpg) 100% 100% no-repeat; /* Добавляем фон */
      background-size: cover; /* Масштабируем фон */
      background-position: center left;    
      width: 100%;
      min-height: 620px;
      padding: 60px 0 0 0;
      
      .tools-icon {
        height: 38px;
        background: url(images/tools-icon.png) no-repeat center center;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      
      p.service-info {
        font-size: 1.063em;
        color: #fff;
        line-height: 30px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 80%;
      }
      
      .team-photo:before {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 30%;
        background-color: rgba(255,255,255,0);
        background-image: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,0));
        background-image: -moz-linear-gradient(bottom, #000, rgba(0,0,0,0));
        background-image: -o-linear-gradient(bottom, #000, rgba(0,0,0,0));
        background-image: linear-gradient(to top, #000, rgba(0,0,0,0));
        content: ' ';
        display: block;
        z-index: 10;
        } 
        
      .team-photo {
        width: 85%;
        position: relative;
        margin-bottom: 20px;
        
        img {
          position: relative;
        }
        
        .team-photo-sign {
          position: absolute;
          bottom: 0;
          display: block;
          z-index: 20;
          padding: 0 40px 0px 15px;
          margin-bottom: 15px;
          border-left: 5px solid #fd5336;
          
          span {
            font-size: 0.938em;
            color: #fff;    
          }
        }
        
       .photo-zoom {
         width: 40px;
         height: 40px;
         display: block;
         right: 0;
         bottom: 15px;
         position: absolute;
         background-color: #fe5539;
         background-image: url(images/zoom.png);
         background-repeat: no-repeat;
         background-position: center center;
         z-index: 20;
         cursor: pointer;
         .transition;
       }
        .photo-zoom:hover {
          background-color: #ff5a3e;
        }
        
        .photo-zoom:active {
          background-color: #ec462a;
        }
      }
      
      .content-block {
        background-color: #fff;
        padding: 30px 70px 30px 30px;
        color: #425783;
        line-height: 30px;
        position: relative;
  
        
        .full-content {
          background-color: #fe5539;
          color: #fff;
          position: absolute;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          bottom: 10px;
          right: 0;
          cursor: pointer;
        }
        
        .full-content:hover {
          background-color: #ff5a3e;
        }
        
        .full-content:active {
          background-color: #ec462a;
        }
      }
    }
  }
      
  
  .qa {
    .page-header {
      background-color: #5d7689;
      color: #141415;
      height: 70px;
      
      .number {
        .left;
        line-height: 70px;
        padding: 0 20px;
        background-color: #758b9b;
        color: #fff;
        font-size: 2.500em;
      }
      
      .title {
        .left;
        line-height: 70px;
        font-size: 1.375em;
        background-color: #475d6f;
        color: #fff;
        padding: 0 20px;
      }
      
      .anotation {
        .left;
        font-size: 0.938em;
        font-style: italic;
        padding: 0 20px;
        line-height: 70px;
        color: #fff;
      }
    }
    
    .qa-content {
      position: relative;
      margin: 0;
      padding: 0;
      background: url(images/qa-background.jpg) 100% 100% no-repeat; /* Добавляем фон */
      background-size: cover; /* Масштабируем фон */
      background-position: center left;    
      width: 100%;
      min-height: 620px;
      padding: 80px 0 0 0;
      
      .qa-cat-navigation {
        overflow: hidden;
        
      .qa-answer {
        background: #fff;
        padding: 30px;
      }
      
      a.current {
        .qa-num {
          background: #fff;
          color: #5d7689;
        }
      }
      
      a {
        color: #fff;
        text-decoration: none;
        
        .qa-num {
          width: 40px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          background-color: #475d6f;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 1.250em;
          margin: 0 20px 20px 0;
        }
      }
    }
    
    .qa-q-content {
      padding: 30px 20px;
      background-color: #fff;
      margin-top: 50px;
      
      .qa-question {
        margin: 0 0 20px 0;
        
        .q-icon {
          color: #fff;
          width: 60px;
          height: 60px;
          display: inline-block;
          line-height: 60px;
          font-size: 3.125em;
          font-weight: bold;
          text-align: center;
          background-color: #fd5235;
          margin: 0 20px 0 0;
          vertical-align: top;
        }
        
        .q-label {
          display: inline-block;
          vertical-align: top;
          
          p {
            color: #627685;
            font-size: 1em;
            max-width: 700px;
            line-height: 30px;
          }
          
          h4 {
            text-transform: uppercase;
            font-size: 1.125em;
            color: #222d35;
            margin-bottom: 10px;
          }
        }
      }
      
      .qa-answer {
        .a-icon {
          color: #fff;
          width: 60px;
          height: 60px;
          display: inline-block;
          line-height: 60px;
          font-size: 3.125em;
          font-weight: bold;
          text-align: center;
          background-color: #6b869a;
          margin: 0 20px 0 0;
          vertical-align: top;
        }
        
        .a-label {
          display: inline-block;
          vertical-align: top;
          
          p {
            color: #627685;
            font-size: 1em;
            max-width: 700px;
            line-height: 30px;
          }
          
          h4 {
            text-transform: uppercase;
            font-size: 1.125em;
            color: #222d35;
            margin-bottom: 10px;
          }
        }
      }
    }
      
      
    }
  }


  .contacts-page {
    .page-header {
      background-color: #fff;
      color: #141415;
      height: 70px;
      
      .number {
        .left;
        line-height: 70px;
        padding: 0 20px;
        background-color: #d44026;
        color: #fff;
        font-size: 2.500em;
      }
      
      .title {
        .left;
        line-height: 70px;
        font-size: 1.375em;
        background-color: #fd5235;
        color: #fff;
        padding: 0 20px;
      }
      
      .anotation {
        .left;
        font-size: 0.938em;
        font-style: italic;
        padding: 0 20px;
        line-height: 70px;
      }
    }
    
    .contacts-content {
      height: 470px;
      position: relative;
      
      .info-map {
        width:100%;
        height:470px;
        
        z-index: 10;
      }
      
      .contacts-information {
        background: #202a32;
        color: #fff;
        position: absolute;
        top: 15%;
        z-index: 20;
        width: 200px;
        font-size: 18px;
        padding: 20px;
        height: auto;
        margin-left: -610px;
        left: 50%;
      }
    }
  }








  
  
}
/* Elastislide Style */

.elastislide-list {
  list-style-type: none;
  display: none;
}

.no-js .elastislide-list {
  display: block;
}

.elastislide-carousel ul li {
  min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
  position: relative;

  margin: 0 auto;
  min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.elastislide-horizontal {
  //padding: 10px 40px;
}

.elastislide-vertical {
  padding: 40px 10px;
}

.elastislide-carousel {
  overflow: hidden;
  position: relative;
}

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.elastislide-horizontal ul {
  white-space: nowrap;
}

.elastislide-carousel ul li {
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block;
  margin-right: 20px;
  width: 33%!important;
  max-width: 33%!important;
  max-height: 100%!important;
  position: relative;
}

.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%;
  position: relative;
}

.elastislide-carousel ul li a img {
  display: block;
  //border: 2px solid white;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Navigation Arrows */
.elastislide-wrapper {
  .photo-zoom {
     width: 40px;
     height: 40px;
     display: block;
     left: 50%;
     top: 50%;
     margin-left: -20px;
     margin-top: -20px;
     bottom: 15px;
     position: absolute;
     background-color: #fe5539;
     background-image: url(images/zoom.png);
     background-repeat: no-repeat;
     background-position: center center;
     z-index: 20;
     cursor: pointer;
     .transition;
   }
 }
 
.elastislide-wrapper nav span {
  position: absolute;
  width: 45px;
  height: 58px;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
  opacity: 1.0
}

.elastislide-horizontal nav span {
  top: 50%;
  margin-top: -11px;
}

.elastislide-horizontal .elastislide-next {
  right: -70px;
  background: url(images/nav-right.png) no-repeat 4px 3px;
}

.elastislide-horizontal .elastislide-prev {
  left: -70px;
  background: url(images/nav-left.png) no-repeat 4px 3px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin: -100px auto 0;
  min-width: 1024px;
  height: 100px;
  background: #222d35;
  position: relative;
  
    .logo {
    width: 132px;
    height: 100px;
  }
  
  .logo-title {
    height: 30px;
    border-left: 2px solid #fff;
    padding: 0 10px;
    margin: 40px 25px 0 25px;
    
    span {
      color: #fff;
      display: block;
      font-size: 0.875em;
    }
  }
  
  nav {
    .right;
    width: 60%;
    
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      
      li {
       display: table-cell;
       text-align: center;
       width: 16.666%;
       vertical-align: middle;
       
       a:hover {
         background-color: #2a3741;
       }
       
       a {
         display: block;
         padding: 0 10px;
         height: 100px;
         line-height: 100px;
         text-decoration: none;
         font-size: 1em;
         color: #fff;
         white-space: nowrap;
         .transition;
       }
      }
      
      li.current a {
         background-color: #fd5033;
      }
      
      
    }
  }
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #222d35;
  color: #fff;
  padding: 10px;
  .rounded(10px);
}
